.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
}
/*shared css*/

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}

/*individual css*/

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    color:#FFFFFF;
}

.logo span {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #FB09B4;
}

.subscribe-btn {
    padding: 12px 16px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
/*banner*/
.hero-container{
    height: 100vh;
    width:100%;
    background: url("assets/hero-bg.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
}

.hero-image{
    width:270px;
    height:270px;
    position:relative;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background:#00FF88;
    color:#1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
}

.center-image{
    width:100%;
}

.speaker-image{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
}

.hero-text{
    margin-top:40px;
    color:#FFFFFF;
}

.hero-title{
    font-size:60px;
    font-weight:bolder;
}

.hero-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap:8px;
}

.hero-buttons a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.btn-white {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

.btn-indigo {
    color: #00FF88;
    border:1px solid #00FF88;
}

.hero-buttons img {
    width: 18px;
    height: 18px;
}
