.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #1A0B2E;
    overflow-x: hidden;
}
/*shared css*/

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}

/*individual css*/

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    color:#FFFFFF;
}

.logo span {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #FB09B4;
}

.subscribe-btn {
    padding: 12px 16px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
/*banner*/
.hero-container{
    height: 100vh;
    width:100%;
    background: url("assets/hero-bg.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 550px;
}

.hero-image{
    width:270px;
    height:270px;
    position:relative;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background:#00FF88;
    color:#1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 6px 14px;
    border-radius: 20px;
}

.center-image{
    width:100%;
}

.speaker-image{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100px;
}

.hero-text{
    margin-top:40px;
    color:#FFFFFF;
}

.hero-title{
    font-size:60px;
    font-weight:bolder;
}

.hero-buttons {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    gap:8px;
}

.hero-buttons a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.btn-white {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}

.btn-indigo {
    color: #00FF88;
    border:1px solid #00FF88;
}

.hero-buttons img {
    width: 18px;
    height: 18px;
}

/*about*/

.about-section {
    padding:50px 150px 120px 150px;
    text-align: center;
    color: #FFFFFF;
}
.about-content {
    max-width:1200px;
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-section h2 {
    font-size: 48px;
    font-weight:bold;
    margin-bottom: 16px;
}

.about-desc {
    color:#FFFFFF;
    line-height:1.7;
    margin-bottom:80px;
}

.about-stats {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.rating-star {
    color: #00ff99; 
    font-size: 25px;
}

.stat-box h3 {
    font-size: 48px;
    font-weight:800;
    color: #00ff99;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.stat-box span {
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/*why section*/

.why-section {
    background-color: #230E3D;
    padding: 120px 150px;
    color: #FFFFFF;
}

.why-container {
    max-width: 1200px;
}
.why-title {
    text-align: center;
    font-size: 48px;
    font-weight:bold;
    margin-bottom: 40px;
}

.why-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.why-card {
   background: #2a1742;
    padding:40px;
    border-radius: 40px;
    transition: 0.3s;
}

.large-card {
    grid-row: span 2;
}
.wide-card {
    grid-column: span 2;
}
.icon-img{
    width: 40px;      
    height: 40px;
    margin-bottom: 16px;
}
.extra-need-css{
    width: 30px;      
}
.icon {
    font-size:40px;
    margin-bottom: 16px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}

.why-card h3 {
    font-size:24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.why-card p {
    font-size: 16px;
    color: #bdb8c9;
    line-height: 1.6;
}
/*episode section*/

.episode-section{
    color: #FFFFFF;
    padding: 120px 150px;
}

.featured-episode{
    margin-bottom: 120px;
}

.featured-episode h2 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.episode-card {
    background: #2a1742;
    border-radius: 20px;
    position: relative;
}

.episode-video {
    position:relative;
    width: 100%;
    height:200px;
}

.episode-video iframe {
    position: absolute;
    object-fit:contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.episode-desc{
    padding: 24px;
}
.episode-card h3 {
    font-size:24px;
    font-weight: bold;
}

.episode-card p {
    font-size: 16px;
    color: #bdb8c9;
    line-height: 1.5;
    margin-top: 12px;
    margin-bottom: 12px;
}
.duration{
    display:flex;
    align-items: center;
    gap:6px;
}
.clock-icon {
    width: 16px;
    height: 16px;
}
.min{
    font-size: 16px;
    font-weight: 500;
    color: #00FF88; 
    align-items: center;
}
/*host part*/
.meet-host {
    margin-top: 120px;
}
.meet-host h2 {
    text-align: center;
    font-size:48px;
    font-weight: bold;
    margin-bottom: 40px;
}

.host-card {
    display: flex;
    background: #2a1742;
    border-radius: 20px;
    padding: 40px;
    gap:24px;
    align-items: center;
}
.host-img {
    width: 180px;
    border-radius: 50%;
}
.host-info h3 {
    font-size:32px;
    font-weight: bold;
    margin-bottom: 16px;
}

.host-info p {
    font-size: 16px;
    line-height: 1.6;
    color: #bdb8c9;
    margin-bottom: 16px;
}
.social-icons {
    display:flex;
    gap:8px;
}

.social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
}
.social-icons img {
    width: 20px;
    height: 20px;
}